<div id="vaccinations-container">
  <% if vaccinations.any? %>
    <% vaccination_all_dates.each do |date| %>
      <% vaccinations_by_date = grouped_vaccinations[date] || [] %>
      <%= render partial: "vaccinations/date_section", locals: { date: date, vaccinations_by_date: vaccinations_by_date } %>
    <% end %>
  <% else %>
    <div class="text-center py-12">
      <p class="text-gray-500 mb-4 text-lg">赤ちゃんの予防接種を記録してみましょう！</p>
      <%= link_to "新規作成", new_child_vaccination_path(current_child), data: { turbo_frame: "modal" }, class: "record-create-btn" %>
    </div>
  <% end %>
</div>