<%= render "shared/filters", url: child_vaccinations_path(current_child) %>

<h2 class="responsive-title"><%= current_child.name %> の予防接種一覧</h2>

<% @vaccination_all_dates.each do |date| %>
  <% vaccinations_by_date = @grouped_vaccinations[date] || [] %>
  <%= render partial: "vaccinations/date_section", locals: { date: date, vaccinations_by_date: vaccinations_by_date } %>
<% end %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>