<div id="feeds-container">
  <table class="responsive-table">
    <thead>
      <tr>
        <th class="col-date">授乳日時</th>
        <th class="col-item1">左</th>
        <th class="col-item2">右</th>
        <th class="col-memo">メモ</th>
        <th class="record-col-chevron"></th>
      </tr>
    </thead>

    <tbody id="feeds-list">
      <% if feeds.any? %>
        <%= render partial: "feeds/feed_row", collection: feeds, as: :feed %>
      <% else %>
        <tr>
          <td colspan="5" class="no-record text-center py-6">
            記録がありません。
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>