<div id="feeds-container">
  <% if feeds.any? %>
    <% feed_all_dates.each do |date| %>
      <% feeds_by_date = grouped_feeds[date] || [] %>
      <%= render partial: "feeds/date_section", locals: { date: date, feeds_by_date: feeds_by_date } %>
    <% end %>
  <% else %>
    <div class="text-center py-12">
      <p class="text-gray-500 mb-4 text-lg">授乳した時間を記録してみましょう！</p>
      <%= link_to "新規作成", new_child_feed_path(current_child), data: { turbo_frame: "modal" }, class: "record-create-btn" %>
    </div>
  <% end %>
</div>