<%= render "shared/filters", url: child_feeds_path(current_child) %>

<h2 class="responsive-title"><%= current_child.name %> の授乳記録一覧</h2>

<% @feed_all_dates.each do |date| %>
  <% feeds_by_date = @grouped_feeds[date] || [] %>
  <%= render partial: "feeds/date_section", locals: { date: date, feeds_by_date: feeds_by_date } %>
<% end %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>