<div id="temperatures-container">
  <% if temperatures.any? %>
    <% temperature_all_dates.each do |date| %>
      <% temperatures_by_date = grouped_temperatures[date] || [] %>
      <%= render partial: "temperatures/date_section", locals: { date: date, temperatures_by_date: temperatures_by_date } %>
    <% end %>
  <% else %>
    <div class="text-center py-12">
      <%= image_tag "animal/uma.jpg", alt: "馬のイラスト", class: "animal-image" %>
      <p class="text-gray-500 mb-4 text-lg">体温を記録してみましょう！</p>
      <%= link_to "新規作成", new_child_temperature_path(current_child), data: { turbo_frame: "modal" }, class: "record-create-btn" %>
    </div>
  <% end %>
</div>