<%= render "shared/filters", url: child_temperatures_path(current_child) %>

<h2 class="responsive-title"><%= current_child.name %> の体温記録一覧</h2>

<% @temperature_all_dates.each do |date| %>
  <% temperatures_by_date = @grouped_temperatures[date] || [] %>
  <%= render partial: "temperatures/date_section", locals: { date: date, temperatures_by_date: temperatures_by_date } %>
<% end %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>