version: '3.9'
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      IKUJI_APP_DATABASE_USERNAME: ${IKUJI_APP_DATABASE_USERNAME}
      IKUJI_APP_DATABASE_PASSWORD: ${IKUJI_APP_DATABASE_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}   
      REDIS_URL: redis://redis:6379/1
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      RAILS_ENV: production

  sidekiq:
    build:
      context: .
      dockerfile: Dockerfile
    entrypoint: ["./entrypoint-sidekiq.sh"]
    command: bundle exec sidekiq -C config/sidekiq.yml
    volumes:
      - .:/app
    depends_on:
      - web
      - redis
    environment:
      IKUJI_APP_DATABASE_USERNAME: ${IKUJI_APP_DATABASE_USERNAME}
      IKUJI_APP_DATABASE_PASSWORD: ${IKUJI_APP_DATABASE_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      REDIS_URL: redis://redis:6379/1
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      RAILS_ENV: production

volumes:
  db_data:
