<h2 class="growth-title">成長記録を編集</h2>

<%= render "form", growth: @growth %>

<div class="growth-form-actions">
<%= button_to "削除", child_growth_path(current_child, @growth), method: :delete, data: { turbo_confirm: '本当に削除しますか？' } %>
<%= link_to '成長記録ページ', child_growths_path(current_child) %>
</div>