<h2 class="growth-title"><%= current_child.name %> の成長記録一覧</h2>

<div>
  <!-- 身長グラフ -->
  <canvas id="heightChart" class="growth-chart" data-growths='<%= raw @growths_for_chart.to_json %>'></canvas>
  <!-- 体重グラフ -->
  <canvas id="weightChart" class="growth-chart" data-growths='<%= raw @growths_for_chart.to_json %>'></canvas>
</div>

<%= render partial: "growths/index", locals: { grouped_growths: @grouped_growths, growth_all_dates: @growth_all_dates } %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>