 <table class="responsive-table">
  <thead>
    <tr>
      <th class="col-date">時間</th>
      <th class="col-item1">量（ml）</th>
      <th class="col-item2">内容</th>
      <th class="col-memo">メモ</th>
      <th class="record-col-chevron"></th>
    </tr>
  </thead>

  <tbody>
    <% if baby_foods.any? %>
      <%= render partial: "baby_foods/baby_food_row", collection: baby_foods, as: :baby_food %>
    <% else %>
      <tr>
        <td colspan="5" class="no-record text-center py-6">
          記録がありません。
        </td>
      </tr>
    <% end %>
  </tbody>
</table>