<turbo-frame id="modal">
  <div class="modal-background">
    <div class="modal-container">
      <h2 class="form-title">
        <%= baby_food.persisted? ? "編集" : "新規作成" %> 離乳食記録
      </h2>

      <%= render "form", baby_food: baby_food %>

      <div class="form-actions">
        <% if baby_food.persisted? %>
          <%= button_to "削除", child_baby_food_path(current_child, baby_food), method: :delete, data: { turbo_confirm: '本当に削除しますか？' } %>
        <% end %>
        <a href="#" class="modal-close">閉じる</a>
      </div>
    </div>
  </div>
</turbo-frame>