<%= render "shared/filters", url: child_baby_foods_path(current_child) %>

<h2 class="responsive-title"><%= current_child.name %> の離乳食一覧</h2>

<% @baby_food_all_dates.each do |date| %>
  <% baby_foods_by_date = @grouped_baby_foods[date] || [] %>
  <%= render partial: "baby_foods/date_section", locals: { date: date, baby_foods_by_date: baby_foods_by_date } %>
<% end %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>