<h2 class="responsive-title"><%= current_child.name %> の離乳食一覧</h2>

<%= render partial: "baby_foods/index", locals: { baby_foods: @baby_foods, grouped_baby_foods: @grouped_baby_foods, baby_food_all_dates: @baby_food_all_dates, current_child: current_child } %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>