<% wday = ["日", "月", "火", "水", "木", "金", "土"][date.wday] %>

<div class="date-section">
  <h3 class="date-heading">
    <%= date.strftime("%Y年%m月%d日（#{wday}）") %> の記録
  </h3>

  <%= render partial: "sleep_records/sleep_records_table_or_empty", locals: { sleep_records: sleep_records_by_date } %>
</div>