<%= render "shared/filters", url: child_sleep_records_path(current_child) %>

<h2 class="responsive-title"><%= current_child.name %> の睡眠記録一覧</h2>

<% @sleep_record_all_dates.each do |date| %>
  <% sleep_records_by_date = @grouped_sleep_records[date] || [] %>
  <%= render partial: "sleep_records/date_section", locals: { date: date, sleep_records_by_date: sleep_records_by_date } %>
<% end %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>