<%= render "shared/filters", url: child_hydrations_path(current_child) %>

<h1 class="responsive-title"><%= current_child.name %> の水分補給記録一覧</h1>

<table class="responsive-table">
  <thead>
    <tr>
      <th class="col-item">内容</th>
      <th class="col-item">量（ml）</th>
      <th class="col-date">時間</th>
      <th class="col-memo">メモ</th>
      <th class="col-detail">操作</th>
    </tr>
  </thead>

  <tbody id="hydrations-list">
    <%= render partial: "hydrations/hydration_row", collection: @hydrations, as: :hydration %>
  </tbody>
</table>

<%= link_to "新規追加", new_child_hydration_path(current_child), class: "index-btn", data: { turbo_frame: "modal" } %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>