<%= render "shared/filters", url: child_hydrations_path(current_child) %>

<h1 class="responsive-title"><%= current_child.name %> の水分補給記録一覧</h1>

<% @hydration_all_dates.each do |date| %>
  <% hydrations_by_date = @grouped_hydrations[date] || [] %>
  <%= render partial: "hydrations/date_section", locals: { date: date, hydrations_by_date: hydrations_by_date } %>
<% end %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>