<tr>
  <td class="col-date">
    <span class="font-semibold text-gray-600">時間：</span>
    <%= bath.bathed_at.strftime("%H:%M") %>
  </td>

  <td class="col-item1">
    <span class="font-semibold text-gray-600">種類：</span>
    <%= bath.bath_type %>
    </td>

  <td class="col-memo">
    <% if bath.memo.present? %>
      <span class="font-semibold text-gray-600">メモ：</span>
      <%= bath.memo %>
    <% end %>
  </td>

  <td class="col-item2">
  </td>

  <td class="record-col-chevron text-right pr-2">
    <%= link_to(
      edit_child_bath_path(current_child, bath),
      data: { turbo_frame: "modal" },
      class: "record-edit-btn"
    ) do %>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  </td>
</tr>