<% wday = ["日", "月", "火", "水", "木", "金", "土"][date.wday] %>

<div id="baths-date-<%= date.strftime('%Y%m%d') %>" class="date-section">
  <h3 class="date-heading">
    <%= date.strftime("%Y年%m月%d日（#{wday}）") %> の記録
  </h3>

  <%= render partial: "baths/baths_table_or_empty", locals: { baths: baths_by_date } %>
</div>