<div id="baths-container">
  <% if baths.any? %>
    <% bath_all_dates.each do |date| %>
      <% baths_by_date = grouped_baths[date] || [] %>
      <%= render partial: "baths/date_section", locals: { date: date, baths_by_date: baths_by_date } %>
    <% end %>
  <% else %>
    <div class="text-center py-12">
      <p class="text-gray-500 mb-4 text-lg">お風呂に入った時間を記録してみましょう！」</p>
      <%= link_to "新規作成", new_child_bath_path(current_child), data: { turbo_frame: "modal" }, class: "record-create-btn" %>
    </div>
  <% end %>
</div>