<h2>お風呂記録の編集</h2>

<%= render "form", bath: @bath %>

<%= button_to "削除", child_bath_path(current_child, @bath), method: :delete, data: { turbo_confirm: '本当に削除しますか？' } %>
<%= link_to '一覧に戻る', child_baths_path(current_child) %>