<%= render "shared/filters", url: child_baths_path(current_child) %>

<h2 class="responsive-title"><%= current_child.name %> のお風呂記録一覧</h2>

<table class="responsive-table">
  <thead>
    <tr>
      <th class="col-date">時間</th>
      <th class="col-item">内容</th>
      <th class="col-memo">メモ</th>
      <th class="col-detail">操作</th>
    </tr>
  </thead>

  <tbody id="baths-list">
    <%= render partial: "baths/bath_row", collection: @baths, as: :bath %>
  </tbody>
</table>

<%= link_to "新規追加", new_child_bath_path(current_child), class: "index-btn", data: { turbo_frame: "modal" } %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>