<%= render "shared/filters", url: child_baths_path(current_child) %>

<h2 class="responsive-title"><%= current_child.name %> のお風呂記録一覧</h2>

<% @bath_all_dates.each do |date| %>
  <% baths_by_date = @grouped_baths[date] || [] %>
  <%= render partial: "baths/date_section", locals: { date: date, baths_by_date: baths_by_date } %>
<% end %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>