<turbo-frame id="modal">
  <div class="modal-background">
    <div class="no-record-modal-container">
      <h2 class="form-title">
        <%= diary.persisted? ? "編集" : "新規作成" %> 日記
      </h2>

      <%= render "form", diary: diary %>
    </div>
  </div>
</turbo-frame>