<turbo-frame id="modal">
  <div class="modal-background">
    <div class="modal-container">
      <h2 class="responsive-title">
        <%= bottle.persisted? ? "編集" : "新規作成" %> ミルク記録
      </h2>

      <%= render "form", bottle: bottle %>

      <div class="form-actions">
        <% if bottle.persisted? %>
          <%= button_to "削除", child_bottle_path(current_child, bottle), method: :delete, data: { turbo_confirm: '本当に削除しますか？' } %>
        <% end %>
        <a href="#" class="modal-close">閉じる</a>
      </div>
    </div>
  </div>
</turbo-frame>