<div id="bottles-container">
  <% if bottles.any? %>
    <% bottle_all_dates.each do |date| %>
      <% bottles_by_date = grouped_bottles[date] || [] %>
      <%= render partial: "bottles/date_section", locals: { date: date, bottles_by_date: bottles_by_date } %>
    <% end %>
  <% else %>
    <div class="text-center py-12">
      <p class="text-gray-500 mb-4 text-lg">ミルクをあげた時間を記録してみましょう！</p>
      <%= link_to "新規作成", new_child_bottle_path(current_child), data: { turbo_frame: "modal" }, class: "record-create-btn" %>
    </div>
  <% end %>
</div>