<%= render "shared/filters", url: child_bottles_path(current_child) %>

<h1 class="responsive-title"><%= current_child.name %> のミルク記録</h1>

<table class="responsive-table">
  <thead>
    <tr>
      <th class="col-item">量 (ml)</th>
      <th class="col-date">時間</th>
      <th class="col-memo">メモ</th>
      <th class="col-detail">操作</th>
    </tr>
  </thead>

  <tbody id="bottles-list">
    <%= render partial: "bottles/bottle_row", collection: @bottles, as: :bottle %>
  </tbody>
</table>

<%= link_to "新規ミルク記録を追加", new_child_bottle_path(current_child), class: "index-btn", data: { turbo_frame: "modal" } %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>