<h1 class="responsive-title"><%= current_child.name %> のミルク記録</h1>

<%= render partial: "bottles/index", locals: { bottles: @bottles, grouped_bottles: @grouped_bottles, bottle_all_dates: @bottle_all_dates, current_child: current_child } %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>