<%= render "shared/filters", url: child_bottles_path(current_child) %>

<h1 class="responsive-title"><%= current_child.name %> のミルク記録</h1>

<% @bottle_all_dates.each do |date| %>
  <% bottles_by_date = @grouped_bottles[date] || [] %>
  <%= render partial: "bottles/date_section", locals: { date: date, bottles_by_date: bottles_by_date } %>
<% end %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>