<% wday = ["日", "月", "火", "水", "木", "金", "土"][date.wday] %>

<div class="date-section">
  <h3 class="date-heading">
    <%= date.strftime("%Y年%m月%d日（#{wday}）") %> の予定
  </h3>

  <%= render partial: "schedules/schedules_table_or_empty", locals: { schedules: schedules_by_date } %>
</div>