<turbo-frame id="modal">
  <div class="modal-background">
    <div class="schedule-modal-container">
      <h2 class="responsive-title">
        <%= schedule.persisted? ? "編集" : "新規作成" %> 予定
      </h2>

      <%= render "form", schedule: schedule %>
    </div>
  </div>
</turbo-frame>