<h1 class="schedule-title">スケジュール一覧</h1>

<%= render partial: "schedules/calendar", locals: { month: @month, schedules: @schedules } %>

<%= render partial: "schedules/index", locals: { grouped_schedules: @grouped_schedules, schedule_all_dates: @schedule_all_dates } %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>