<div class="filter-bar">
  <%= form_with url: (url || root_path), method: :get, local: true do |f| %>
    <label>日付で絞り込み
      <%= f.date_field :date, value: params[:date] %>
    </label>
    <%= f.submit "絞り込む", class: "nav-btn" %>
  <% end %>
</div>