<div id="diapers-container">
  <table class="responsive-table">
    <thead>
      <tr>
        <th class="col-date">交換時間</th>
        <th class="col-item1">内容</th>
        <th class="col-item2">内容</th>
        <th class="col-memo">メモ</th>
        <th class="record-col-chevron"></th>
      </tr>
    </thead>

    <tbody id="diapers-list">
      <% if diapers.any? %>
        <%= render partial: "diapers/diaper_row", collection: diapers, as: :diaper %>
      <% else %>
        <tr>
          <td colspan="5" class="no-record text-center py-6">
            記録がありません。
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>