<%= render "shared/filters", url: child_diapers_path(current_child) %>

<h2 class="responsive-title"><%= current_child.name %> のおむつ記録</h2>

<%= render partial: "diapers/index", locals: { diapers: @diapers, grouped_diapers: @grouped_diapers, diaper_all_dates: @diaper_all_dates, current_child: current_child } %>

<!-- モーダル枠 -->
<turbo-frame id="modal"></turbo-frame>