/* ==============================
   エラーメッセージ
   ============================== */
.error-message {
  color: #E53E3E;
}

.input-error {
  border: 1px solid #E53E3E;
  background-color: #FFF5F5;
}

/* フォーカス時のデフォルトアウトラインを消す */
.input-error:focus {
  box-shadow: none;
  border-color: #f56565;
}
