@media screen and (max-width: 767px) {

  /* ヘッダー全体 */
  .site-header {
    height: 60px;
  }
  
  /* スマホ表示専用アプリロゴ */
  .mobile-header-logo,
  .mobile-header-logo--guest {
    display: flex;
    position: fixed;
    top: 3px;
    left: 5px;
    z-index: 16;
  }

  .mobile-logo-image {
   height: 55px;
  }

  /* 中央表示部分を少し小さく */
  .header-center-item {
    transform: scale(0.90);
  }

  /* アカウントアイコン */
  #account-toggle {
    height: 40px;
    width: 40px;
    border-radius: 50%
  }

  /* アカウントアイコンのドロップダウン */
  #account-menu {
    top: 50px;
  }

  /* ベルマークのドロップダウン */
  .notification-dropdown {
    min-width: 300px;
    top: 30px;
    right: -50px;
  }

  #account-toggle:hover::before {
    background-color: transparent;
  }

  .notification-link:hover i.fa-bell {
    color: inherit;
  }
  
  /* ツールチップを非表示 */
  .tooltip-text {
    display: none;
  }

  /* ログイン前のヘッダー右群の表示調整 */
  .btn-guest-action {
    font-size: 14px;
    top: -5px;
  }

  /* スマホ画面では表示しないもの */
  .header-logo,
  .header-logo--guest,
  #new-record-button,
  .sidebar,
  #sidebar-toggle {
    display: none;
  }

  /* スマホ専用ナビゲーション(画面下固定) */
  .mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  text-align: center;
  align-items: center;
  z-index: 1000;
  }

  .mobile-bottom-nav .mobile-nav-item {
  display: flex;             /* flex化 */
  flex-direction: column;    /* 縦並び */
  width: 20%;
  text-align: center;
  font-size: 12px;
  padding: 8px 0;
  text-decoration: none;
  color: #333;
  gap: 3px;
  }

  .mobile-bottom-nav .mobile-nav-item i {
  font-size: 20px;           /* アイコンの大きさ調整 */
}

  /* ナビゲーション「＋」ボタン */
  .mobile-bottom-nav .mobile-nav-create {
    background: #f0f0f0;
    border-radius: 50%;
    position: relative;
    color: #333;
  }

  /* ＋アイコンを大きく */
  .mobile-bottom-nav .mobile-nav-create i {
    font-size: 26px;
  }
    
  /* フッターをサイドバーの非表示分左にずらして中央表示 */
  footer.logged-in {
    width: 100%;
    margin-left: 0;
    margin-bottom: 60px;
  }
}