<p><%= @resource.email %> 様</p>

<p>
パスワード再設定のリクエストを受け付けました。<br>
以下のリンクから、新しいパスワードを設定してください。
</p>

<p>
<%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
※ このメールにお心当たりがない場合は、破棄してください。
</p>

<p>
上記リンクにアクセスして新しいパスワードを設定するまで、
パスワードは変更されません。
</p>